[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
kafka-python = "*"
matplotlib = "*"
numpy = "*"
pymodes = "*"
pyrtlsdr = "*"

[dev-packages]
pylint = "*"
wheel = "*"
setuptools = "*"
check-manifest = "*"
build = "*"

[requires]
python_version = "3.10"
